.mui_radio, .mui_checkbox {
  position: relative;
}

.mui_radio_group .mui_radio {
  display: inline-block;
}
.mui_radio_group .mui_radio ~ .mui_radio {
  margin-left: 20px;
}

.mui_checkbox_group .mui_checkbox {
  display: inline-block;
}
.mui_checkbox_group .mui_checkbox ~ .mui_checkbox {
  margin-left: 20px;
}

.button_type .mui_radio input, .button_type .mui_checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.button_type .mui_radio input:checked + label, .button_type .mui_checkbox input:checked + label {
  background: #aaa;
}
.button_type .mui_radio label, .button_type .mui_checkbox label {
  border: 1px solid red;
}
.button_type .mui_radio ~ .mui_radio, .button_type .mui_radio .mui_checkbox, .button_type .mui_checkbox ~ .mui_radio, .button_type .mui_checkbox .mui_checkbox {
  margin-left: 0;
}

.mui-button {
  background-color: #f0f;
}

caption {
  font-size: 0;
  width: 0;
  height: 0;
}

table, th, td {
  border-collapse: collapse;
}

.mui_maxlength {
  height: 20px;
  display: inline-block;
  vertical-align: top;
  background-color: #f00;
}
.mui_maxlength span {
  display: inline-block;
}

.step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 60px;
  height: 60px;
  background: #eee;
  border-radius: 50%;
  color: red;
}

.mui_textarea textarea {
  width: 100%;
}

.mui_tabs .mui_tab_nav {
  display: flex;
  border-bottom: 1px solid #000;
}
.mui_tabs .mui_tab_nav .nav_list button {
  padding: 10px;
}
.mui_tabs .mui_tab_nav .nav_list.mui_active {
  background: #000;
}
.mui_tabs .mui_tab_nav .nav_list.mui_active button {
  color: #fff;
}
.mui_tabs .tab_contents .tab_pane {
  display: none;
  padding: 20px;
}
.mui_tabs .tab_contents .tab_pane.mui_active {
  display: block;
}

.mui-accordion .acc_lists {
  padding-left: 50px;
  border: 1px solid #e8e8e8;
  position: relative;
}
.mui-accordion .acc_lists .mui_acc_button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background: #f8f8f8;
}

.mui_modal, [mui-modal] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.15s linear;
  padding: 0 20px;
}
.mui_modal.mui_flex, [mui-modal].mui_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mui_modal .mui_size_small, [mui-modal] .mui_size_small {
  min-width: 400px;
}
.mui_modal .mui_size_medium, [mui-modal] .mui_size_medium {
  min-width: 600px;
}
.mui_modal .mui_size_large, [mui-modal] .mui_size_large {
  min-width: 800px;
}
.mui_modal .mui_modal_dialog, [mui-modal] .mui_modal_dialog {
  margin: 0 auto;
  position: relative;
  top: 0;
  transition-duration: 0.15s;
}
.mui_modal .mui_modal_body, [mui-modal] .mui_modal_body {
  background: #fff;
  border-radius: 6px;
  padding: 24px;
  position: relative;
  top: -20px;
  transition: top 0.15s;
}
.mui_modal.mui_open, [mui-modal].mui_open {
  opacity: 1;
}
.mui_modal.mui_open .mui_modal_body, [mui-modal].mui_open .mui_modal_body {
  top: 0px;
}

.mui_datepicker {
  border: 1px solid #00f;
}

.mui_datepicker_layer {
  display: none;
  position: fixed;
  background: #eee;
  border: 1px solid red;
  z-index: 999;
}
.mui_datepicker_layer th, .mui_datepicker_layer td {
  border: 1px solid #000;
  color: #000;
}
.mui_datepicker_layer th.disabled, .mui_datepicker_layer td.disabled {
  color: #bbb;
}
.mui_datepicker_layer th.mui_today, .mui_datepicker_layer td.mui_today {
  background: #00f;
}
.mui_datepicker_layer th.mui_today button, .mui_datepicker_layer td.mui_today button {
  color: #fff;
  font-weight: bold;
}
.mui_datepicker_layer th.mui_selected, .mui_datepicker_layer td.mui_selected {
  background: #f0f;
  font-weight: bold;
}
.mui_datepicker_layer th button, .mui_datepicker_layer td button {
  display: block;
  width: 100%;
}
.mui_datepicker_layer .mui_calendar {
  width: 100%;
}
.mui_datepicker_layer.mui_active {
  display: block;
}

.picker_header {
  text-align: center;
}
.picker_header .current_month {
  background: #eee;
  padding: 0 20px;
}
.picker_header button {
  background: #000;
  color: #fff;
  padding: 4px 20px;
}

button {
  background: none;
  border: 0 none;
  display: inline-block;
  cursor: pointer;
}

.ui-test-btn {
  display: inline-block;
  vertical-align: top;
  border: 0 none;
  background: #333;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
}
.ui-test-btn > span {
  display: inline-block;
}
.ui-test-btn:hover, .ui-test-btn:focus {
  color: #fff;
}

.code_in {
  padding-bottom: 200px;
}

/* common */
.ctr-btn {
  margin: 10px 0 20px;
}
.ctr-btn .decs {
  display: inline-block;
  margin-top: 6px;
  margin-left: 20px;
}
.ctr-btn .style-toggle-btn {
  padding: 10px;
  border: 0 none;
  background: #837466;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  margin: 0;
  outline: none;
}
.ctr-btn .style-toggle-btn.ui-active {
  background: #d1c3b6;
  color: #333;
}

[kui-tab] .kui-tab-nav {
  font-size: 0;
}
[kui-tab] .kui-tab-nav li {
  display: inline-block;
}
[kui-tab] .kui-tab-nav li.kui-active a {
  background-color: #fff;
  color: #000;
}
[kui-tab] .kui-tab-nav li a {
  display: block;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #ccc;
  font-size: 16px;
  color: #666;
}
[kui-tab] .kui-tab-contents {
  padding: 30px;
  border: 1px solid #000;
}
[kui-tab] .kui-tab-contents > * {
  display: none;
}
[kui-tab] .kui-tab-contents > *.kui-active {
  display: block;
}

.custom-style {
  /* Sticky Custom Style*/
  /* Dropdown */
  /* cascading grid */
  /* Collapse */
  /* custom toggle */
  /* tab */
  /* scroll tab */
  /* selectbox */
  /* modal */
  /* scrollspy */
}
.custom-style a {
  text-decoration: none;
}
.custom-style [data-modules-sticky] .sticky-inner {
  display: inline-block;
  background: #333;
  color: #fff;
  position: relative;
  padding: 10px;
  border-radius: 10px;
}
.custom-style [data-modules-sticky].fixed {
  position: fixed;
}
.custom-style #break {
  border: 1px solid #aaa;
  border-radius: 4px;
  position: relative;
}
.custom-style #break5 {
  position: absolute;
  top: 800px;
  left: 0;
  right: 0;
  border-top: 1px solid red;
}
.custom-style .ui-dropdown {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  text-align: left;
}
.custom-style .ui-dropdown .dropdown-menu {
  right: 0;
  border: 1px solid #ccc;
  padding: 10px;
}
.custom-style .ui-dropdown .dropdown-menu a {
  display: block;
  padding: 5px 0;
}
.custom-style .ui-dropdown a.readonly, .custom-style .ui-dropdown a.disabled {
  cursor: default;
  color: #ccc;
}
.custom-style .ui-dropdown a.readonly:hover, .custom-style .ui-dropdown a.disabled:hover {
  text-decoration: none;
}
.custom-style [data-items] {
  padding: 20px;
  background: #b2cef5;
  color: #333;
}
.custom-style [data-modules-collapse] {
  border: 1px solid #999;
  display: block;
  width: 600px;
  padding: 10px 20px;
  position: relative;
  font-size: 16px;
  color: #333;
}
.custom-style [data-modules-collapse]:after {
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -80%) rotate(45deg);
}
.custom-style [data-modules-collapse].selected:after {
  transform: translate(0, -30%) rotate(-135deg);
}
.custom-style .accordion-panel {
  border: 1px solid #999;
  border-top: 0 none;
  width: 600px;
  margin-top: -1px;
}
.custom-style .accordion-panel.collapsani {
  position: relative;
  transition: height 0.3s;
  height: 0;
  overflow: hidden;
}
.custom-style .accordion-panel .inset {
  padding: 10px 20px;
  min-height: 100px;
}
.custom-style .acc-parent {
  border-top: 1px solid #999;
  width: 600px;
}
.custom-style .acc-parent [data-modules-collapse] {
  border-top: 0 none;
}
.custom-style [data-modules-customtoggle] {
  display: inline-block;
  padding: 10px 20px;
  background: #333;
  border: 0 none;
  color: #fff;
  border: 1px solid transparent;
}
.custom-style [data-modules-customtoggle].ui-active {
  color: #333;
  background: #fff;
  border: 1px solid #999;
}
.custom-style .tab-content > .tab-pane.ui-active {
  display: block;
}
.custom-style .tab-content > .tab-pane {
  display: none;
}
.custom-style .ui-tab {
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  font-size: 0;
}
.custom-style .ui-tab [role=presentation] {
  display: inline-flex;
  font-size: 16px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}
.custom-style .ui-tab [role=presentation] a {
  display: block;
  padding: 5px 20px;
  color: #999;
  background: #e6e6e6;
}
.custom-style .ui-tab [role=presentation].ui-active a {
  text-decoration: underline;
  font-weight: 700;
  color: #333;
  background: #fff;
}
.custom-style .tab-content {
  border: 1px solid #333;
}
.custom-style .tab-content .tab-pane {
  padding: 20px;
  min-height: 300px;
}
.custom-style .scroll-tab {
  margin: 0 40px;
  width: 473px !important;
}
.custom-style .scroll-tab .tab-control {
  display: block;
  position: relative;
  width: 50px;
  height: 35px;
  position: absolute;
  top: 0;
  background: transparent;
  overflow: hidden;
  border: 0 none;
  outline: none;
}
.custom-style .scroll-tab .tab-control.prev-tab {
  left: -50px;
}
.custom-style .scroll-tab .tab-control.next-tab {
  right: -50px;
}
.custom-style .selectwrap {
  margin-top: 20px;
}
.custom-style .custom-selectbox {
  width: 500px;
}
.custom-style .custom-selectbox .ui-label a {
  display: block;
  border: 1px solid #333;
  line-height: 43px;
  height: 43px;
  padding: 0 0 0 20px;
  position: relative;
  color: #333;
  font-weight: 700;
}
.custom-style .custom-selectbox .ui-label a:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(135deg);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;
}
.custom-style .custom-selectbox.ui-active .ui-label a:after {
  transform: rotate(-45deg);
  margin-top: -4px;
}
.custom-style .custom-selectbox.ui-bottom .ui-selectbox {
  top: auto;
  bottom: 100%;
  border-top: 1px solid #000;
  border-bottom: 0 none;
}
.custom-style .custom-selectbox .ui-selectbox {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  border-top: 0 none;
}
.custom-style .custom-selectbox .ui-selectbox a {
  display: block;
  height: 43px;
  line-height: 43px;
  padding-left: 20px;
}
.custom-style .custom-selectbox.disabled, .custom-style .custom-selectbox.readonly {
  opacity: 0.5;
}
.custom-style .custom-selectbox.disabled a, .custom-style .custom-selectbox.readonly a {
  cursor: default;
  font-weight: 400;
}
.custom-style .ui-modal .ui-modal-dialog {
  border-radius: 10px;
  padding: 20px;
}
.custom-style .ui-modal .ui-modal-dialog.custom-msg {
  width: 300px;
  height: auto;
}
.custom-style .ui-modal .ui-modal-dialog.custom-msg .modal-body {
  text-align: center;
  padding: 20px 0;
}
.custom-style .ui-modal .ui-modal-dialog.custom-msg .modal-footer {
  text-align: center;
}
.custom-style .ui-modal .ui-modal-dialog.custom-msg .modal-footer button {
  background: #333;
  border: 0 none;
  padding: 10px;
  min-width: 60px;
  color: #fff;
  border-radius: 10px;
}
.custom-style .ui-modal .ui-modal-dialog.custom-msg .modal-footer button ~ button {
  margin-left: 10px;
}
.custom-style .ui-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  width: 40px;
  height: 40px;
  border: 0 none;
  text-indent: -9999em;
}
.custom-style .ui-modal .close:before, .custom-style .ui-modal .close:after {
  content: "";
  display: block;
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #333;
}
.custom-style .ui-modal .close:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.custom-style .ui-scrollspy .fixed .inner {
  left: 20px;
  right: 20px;
}
.custom-style .ui-scrollspy .ui-spynav {
  position: relative;
  background: #fff;
}
.custom-style .ui-scrollspy .ui-spynav:after {
  content: "";
  display: block;
  overflow: hidden;
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  bottom: -1px;
  position: absolute;
}
.custom-style .ui-scrollspy .ui-spynav li a {
  color: #333;
  background: #f7f7f7;
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.custom-style .ui-scrollspy .ui-spynav li.ui-active a {
  background: #333;
  color: #fff;
  text-decoration: underline;
}
.custom-style .ui-scrollspy .pages {
  line-height: 800px;
  font-size: 200px;
  text-align: center;
}

/* ========================================================================
   Component: Animation
 ========================================================================== */
[class*=mui-animation-] {
  animation: 0.5s ease-out both;
}

/* Animations
 ========================================================================== */
/*
 * Fade
 */
.mui-animation-fade {
  animation-name: mui-fade;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

/*
 * Scale
 */
.mui-animation-scale-up {
  animation-name: mui-fade, mui-scale-up;
}

.mui-animation-scale-down {
  animation-name: mui-fade, mui-scale-down;
}

/*
 * Slide
 */
.mui-animation-slide-top {
  animation-name: mui-fade, mui-slide-top;
}

.mui-animation-slide-bottom {
  animation-name: mui-fade, mui-slide-bottom;
}

.mui-animation-slide-left {
  animation-name: mui-fade, mui-slide-left;
}

.mui-animation-slide-right {
  animation-name: mui-fade, mui-slide-right;
}

/*
 * Slide Small
 */
.mui-animation-slide-top-small {
  animation-name: mui-fade, mui-slide-top-small;
}

.mui-animation-slide-bottom-small {
  animation-name: mui-fade, mui-slide-bottom-small;
}

.mui-animation-slide-left-small {
  animation-name: mui-fade, mui-slide-left-small;
}

.mui-animation-slide-right-small {
  animation-name: mui-fade, mui-slide-right-small;
}

/*
 * Slide Medium
 */
.mui-animation-slide-top-medium {
  animation-name: mui-fade, mui-slide-top-medium;
}

.mui-animation-slide-bottom-medium {
  animation-name: mui-fade, mui-slide-bottom-medium;
}

.mui-animation-slide-left-medium {
  animation-name: mui-fade, mui-slide-left-medium;
}

.mui-animation-slide-right-medium {
  animation-name: mui-fade, mui-slide-right-medium;
}

/*
 * Kenburns
 */
.mui-animation-kenburns {
  animation-name: mui-kenburns;
  animation-duration: 15s;
}

/*
 * Shake
 */
.mui-animation-shake {
  animation-name: mui-shake;
}

/*
 * SVG Stroke
 * The `--mui-animation-stroke` custom property contains the longest path length.
 * Set it manually or use `mui-svg="stroke-animation: true"` to set it automatically.
 * All strokes are animated by the same pace and doesn't end simultaneously.
 * To end simultaneously, `pathLength="1"` could be used, but it's not working in Safari yet.
 */
.mui-animation-stroke {
  animation-name: mui-stroke;
  animation-duration: 2s;
  stroke-dasharray: var(--mui-animation-stroke);
}

/* Direction modifier
 ========================================================================== */
.mui-animation-reverse {
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

/* Duration modifier
 ========================================================================== */
.mui-animation-fast {
  animation-duration: 0.1s;
}

/* Toggle animation based on the State of the Parent Element
 ========================================================================== */
.mui-animation-toggle:not(:hover):not(:focus) [class*=mui-animation-] {
  animation-name: none;
}

/* Keyframes used by animation classes
 ========================================================================== */
/*
 * Fade
 */
@keyframes mui-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
 * Scale
 */
@keyframes mui-scale-up {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes mui-scale-down {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*
 * Slide
 */
@keyframes mui-slide-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mui-slide-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mui-slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes mui-slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/*
 * Slide Small
 */
@keyframes mui-slide-top-small {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mui-slide-bottom-small {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mui-slide-left-small {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes mui-slide-right-small {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/*
 * Slide Medium
 */
@keyframes mui-slide-top-medium {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mui-slide-bottom-medium {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mui-slide-left-medium {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes mui-slide-right-medium {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
/*
 * Kenburns
 */
@keyframes mui-kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
/*
 * Shake
 */
@keyframes mui-shake {
  0%, 100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-9px);
  }
  20% {
    transform: translateX(8px);
  }
  30% {
    transform: translateX(-7px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-1px);
  }
}
/*
 * Stroke
 */
@keyframes mui-stroke {
  0% {
    stroke-dashoffset: var(--mui-animation-stroke);
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=index.css.map */
