- 
  const dataLists = {
    "pageLists" : {
      "페이지 리스트":{
        "페이지1 페이지1페이지1 페이지1페이지1 페이지1페이지1 페이지1":["/pages/index.html", "mainFrame"],
        "페이지2":["/pages/test/test22.html", "mainFrame"],
        "페이지3":["/pages/index.html", "mainFrame"],
        "페이지4":["/pages/index.html", "mainFrame"],
        "페이지5":["/pages/index.html", "mainFrame"],
        "페이지6":["/pages/index.html", "mainFrame"],
        "페이지7":["/pages/index.html", "mainFrame"],
        "페이지8":{
          "페이지9":["./pages/page04.html", "mainFrame"],
          "페이지88":{
            "페이지991":["/pages/page04.html", "mainFrame"],
            "페이지992":["/pages/page04.html", "mainFrame"],
            "페이지993":["/pages/page04.html", "mainFrame"],
            "페이지994":["/pages/page04.html", "mainFrame"],
            "페이지995":["/pages/page04.html", "mainFrame"],
            "페이지996":["/pages/page04.html", "mainFrame"],
            "페이지997":["/pages/page04.html", "mainFrame"],
            "페이지998":["/pages/page04.html", "mainFrame"],
            "페이지999":["/pages/page04.html", "mainFrame"],
            "페이지990":["/pages/page04.html", "mainFrame"],
            "페이지919":["/pages/page04.html", "mainFrame"],
            "페이지929":["/pages/page04.html", "mainFrame"],
            "페이지939":["/pages/page04.html", "mainFrame"],
            "페이지949":["/pages/page04.html", "mainFrame"],
            "페이지959":["/pages/page04.html", "mainFrame"],
            "페이지969":["/pages/page04.html", "mainFrame"],
            "페이지979":["/pages/page04.html", "mainFrame"],
            "페이지989":["/pages/page04.html", "mainFrame"],
            "페이지999":["/pages/page04.html", "mainFrame"],
            "페이지909":["/pages/page04.html", "mainFrame"],
            "페이지199":["/pages/page04.html", "mainFrame"],
            "페이지299":["/pages/page04.html", "mainFrame"],
            "페이지399":["/pages/page04.html", "mainFrame"],
            "페이지499":["/pages/page04.html", "mainFrame"],
            "페이지599":["/pages/page04.html", "mainFrame"],
            "페이지699":["/pages/page04.html", "mainFrame"],
            "페이지799":["/pages/page04.html", "mainFrame"],
            "페이지899":["/pages/page04.html", "mainFrame"],
            "페이지0999":["/pages/page04.html", "mainFrame"],
          },
        },
      }
    },
    "markupLists" : {
      "마크업 가이드":{
        "Button":["/docs/markup/button.html", "mainFrame"],
        "Radio & checkbox":["/docs/markup/radio_check.html", "mainFrame"],
        "Select":["/docs/markup/select.html", "mainFrame"],
        "Label":["/docs/markup/label.html", "mainFrame"],
        "Input":["/docs/markup/input.html", "mainFrame"],
        "Textarea":["/docs/markup/textarea.html", "mainFrame"],
        "Tabs":["/docs/markup/tabs.html", "mainFrame"],
        "Accordion":["/docs/markup/accordion.html", "mainFrame"],
      }
    },
    "scriptLists" : {
      "스크립트 가이드":{
        "스크립트 가이드":["/pages/test/test22.html", "mainFrame"]
      }
    }
  }

#sideNav.side_nav
  #pages 
    h2(
      class="side_title"
    ) 페이지 리스트
    div#pageLists(
      style="display:none;"
    )
      +pagesNavLists({
        lists:dataLists.pageLists
      })
    div#markupGuide(
      style="display:none;"
    )
      +pagesNavLists({
        lists:dataLists.markupLists
      })
    div#scriptGuide(
      style="display:none;"
    )
      +pagesNavLists({
        lists:dataLists.scriptLists
      })
