$main_color01: #f36f21 !default;
$main_color02: #ffa051 !default;

$sub_color01: #008fd4 !default;
$sub_color02: #0062a2 !default;

$text_color01: #333 !default;
$text_color02: #666 !default;
$text_color03: #757575 !default;
$text_color04: #bdbdbd !default;

$border_color01: #bdbdbd !default;
$border_color02: #e0e0e0 !default;
$border_color03: #eee !default;

$bg_color01 : #eee !default;
$bg_color02 : #f5f5f5 !default;
$bg_color03 : #fff !default;


// images URL
$url_common : '/static/di/images/common/';
$url_content : '/static/di/images/content/';
$url_social : '/static/di/images/social/';
$url_recruit : '/static/di/images/recruit/';

$breakpoints-tablet : 1024;
$breakpoints-mobile : 767;

$wrap_size : 1224px;
$wrap_size_social : 1200px;

