extends ../components/templates/layout.pug


prepend head 
  - TITLE = "이거 된다 ㅋㅋㅋ 이렇게 하면 되는 구만";

block content  
  .dd sdfsdafsadfjkhsadkjfhkjas
  +button({
    label:"버튼",
    size:'large'
  })
  +button({
    label:"버튼",
    size:'large'
  })
