extends ../components/templates/layout.pug


prepend head 
  - TITLE = "이거 된다 ㅋㅋㅋ 이렇게 하면 되는 구만";
block content  
  .dd sdfsdafsadfjkhsadkjfhkjas
  +button({
    href:"dssdfsdf",
    label:"버튼"
  })
  +button({
    label:"버튼",
    size:'large'
  })
  +radio({
    className:"box_type",
    lists:[
      {
        label:"라디오1"
      },
      {
        label:"라디오2"
      },
      {
        label:"라디오3"
      }
    ]
  })

  +radio({
    lists:[
      {
        label:"라디오1"
      },
      {
        label:"라디오2"
      },
      {
        label:"라디오3"
      }
    ]
  })
