extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text: "버튼"
    })
    +guideExample()
      :code
        +button({
          label:"버튼112223111",
          size:'large'
        })
        +button({
          label:"버튼112223111",
          size:'large'
        })
    +guideExample()
      :code
        +button({
          label:"버튼112223111",
          size:'large'
        })



