extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Datepicker"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        +datepicker({
          value:"2023-02-22"
        })
        +datepicker()
                
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })
    +attributesLists([
      [
        {
          text:'active'
        },
        {
          text:'활성화 텝 index'
        },
        {
          text:'nomber'
        },
        {
          text:'0'
        }
      ],
      [
        {
          text:'className'
        },
        {
          text:'커스텀 클래스'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])


