extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Modal"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        //- 호출 버튼
        +button({
          label:"모달 호출 버튼",
          size:'large',
          muiToggle:'target:#modal;mode:hover;'
        })


        +modal({
          title:"모달 타이틀"
        })
          //- 컨텐츠 영역
          div 모달 컨텐츠

          //- 푸터 영역
          +footer()
            div.btns_wrap
              +button({
                label:"확인",
                size:'large',
              })
              +button({
                label:"취소",
                size:'large',
                className:"mui_modal_close"
              })
    +guideTitle({
      text:"Alert, confirm, dialog",
      level:2
    })
    +guideExample()(code)
      +button({
        label:"Alert 호출",
        size:'large',
        id:"callAlert"
      })
      +button({
        label:"Confirm 호출",
        size:'large',
        id:"callConfirm"
      })
      +button({
        label:"Dialog 호출",
        size:'large',
        id:"callDialog"
      })
      :code
        //- 얼럿
        GCui.modal.alert("Alert!!")

        //- 컴폼
        GCui.modal.confirm("Confirm!!")

        //- 다이얼로그
        GCui.modal.dialog("dialog")
      
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })
    +guideTitle({
      text:"+tabsWrap()",
      level:3
    })

    +attributesLists([
      [
        {
          text:'active'
        },
        {
          text:'활성화 텝 index'
        },
        {
          text:'nomber'
        },
        {
          text:'0'
        }
      ],
      [
        {
          text:'className'
        },
        {
          text:'커스텀 클래스'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])

    +guideTitle({
      text:"+tab()",
      level:3
    })
    +attributesLists([
      [
        {
          text:'text'
        },
        {
          text:'텝 제목'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])
    script. 
      document.addEventListener("DOMContentLoaded", (event) => {
        let elem = []
        elem.push(document.querySelector("#callAlert"))
        elem.push(document.querySelector("#callConfirm"))
        elem.push(document.querySelector("#callDialog"))
        elem.forEach((el, i) => {
          GCui.util.on(el, 'click', (e) => {
            const id = el.id
            switch (id) {
              case "callAlert":{
                GCui.modal.alert("Alert!!")
                break;
              }
              case "callConfirm":{
                GCui.modal.confirm("Confirm!!")
                break;
              }
              case "callDialog":{
                GCui.modal.dialog("dialog")
                break;
              }
            }
          })
        })
      });


