extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text: "라디오 버튼11"
    })
    +guideExample()(code)
      :code
        +button({
          label:"버튼112223111",
          size:'large'
        })



