extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Radio & checkbox"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        +radioCheck({
          type:"radio",
          name:'chk1'
        })
        +radioCheck({
          name:'chk2'
        })
    +guideExample()(code)
      :code
        +radioCheck({
          type:"radio",
          name:'radiolist',
          lists:[
            {
              label:'라디오버튼1',
              disabled:true,
            },
            {
              label:'라디오버튼2'
            },
            {
              label:'라디오버튼3'
            }
          ]
        })
    +guideExample()(code)
      :code
        +radioCheck({
          name:'checklist',
          lists:[
            {
              label:'체크1',
              checked:true
            },
            {
              label:'체크2'
            },
            {
              label:'체크3'
            }
          ]
        })

    +guideExample()(code)
      :code
        +radioCheck({
          name:'btnType',
          type:"radio",
          className:'button_type',
          lists:[
            {
              label:'체크1'
            },
            {
              label:'체크2'
            },
            {
              label:'체크3'
            }
          ]
        })
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })

    +attributesLists([
      [
        {
          text:'type'
        },
        {
          text:'radio, checkbox'
        },
        {
          text:'string'
        },
        {
          text:'checkbox'
        }
      ],
      [
        {
          text:'lists'
        },
        {
          text:'리스트 형식 데이터'
        },
        {
          text:'array'
        },
        {
          text:'-'
        }
      ],
      [
        {
          text:'disabled'
        },
        {
          text:'disabled 여부'
        },
        {
          text:'Boolean'
        },
        {
          text:'false'
        }
      ],
      [
        {
          text:'checked'
        },
        {
          text:'checked 여부'
        },
        {
          text:'Boolean'
        },
        {
          text:'false'
        }
      ],
      [
        {
          text:'name'
        },
        {
          text:'group 이름'
        },
        {
          text:'string'
        },
        {
          text:'radioCheck'
        }
      ],
      [
        {
          text:'className'
        },
        {
          text:'custom class 적용'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])



