extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Toggle"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        +button({
          label:"토글 버튼1",
          size:'large',
          muiToggle:'target:#toggle_box1;'
        })
        div#toggle_box1 토글 컨텐츠
        br
        br
        br
        +button({
          label:"토글 버튼2",
          size:'large',
          muiToggle:'target:#modal;mode:hover;'
        })
        div#modal(
          mui-modal=''
          
        ) 
          div.mui_modal_dialog 토글 컨텐츠
                
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })
    +guideTitle({
      text:"+tabsWrap()",
      level:3
    })
    

    +attributesLists([
      [
        {
          text:'active'
        },
        {
          text:'활성화 텝 index'
        },
        {
          text:'nomber'
        },
        {
          text:'0'
        }
      ],
      [
        {
          text:'className'
        },
        {
          text:'커스텀 클래스'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])

    +guideTitle({
      text:"+tab()",
      level:3
    })
    +attributesLists([
      [
        {
          text:'text'
        },
        {
          text:'텝 제목'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])
    script.
      //- console.log(document)
      const btn = document.querySelector('.title_lv1');
      //- btn.addEventListener('click', function(){
      //-   GCui.modal.alert('test').then(function(){
      //-     console.log("확인")
      //-   })
      //- })
      btn.addEventListener('click', function(){
        //- GCui.modal.confirm('test').then(function(){
        //-   console.log("확인")
        //- },function(){
        //-   console.log("취소")
        //- })
        GCui.modal.dialog('<p>UIkit dialog!</p>');
      })
      



