@forward '../../components/atoms/index.scss';
@forward '../../components/molecules/index.scss';
@import "common/mixins";
@import "common/varialbles";

button{
    background: none;
    border: 0 none;
    display: inline-block;
    cursor: pointer;
}
.ui-test-btn{
    display: inline-block;
    vertical-align: top;
    border: 0 none;
    background: #333;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    > span{
        display: inline-block;
    }
    &:hover, &:focus{
        color: #fff;
    }
}
.code_in{
    padding-bottom: 200px;
}
/* common */
.ctr-btn{
    margin: 10px 0 20px;
    .decs{
        display: inline-block;
        margin-top: 6px;
        margin-left: 20px;
    }
    .style-toggle-btn{
        padding: 10px;
        border:0 none;
        background: #837466;
        color: #fff;
        font-weight: bold;
        border-radius: 6px;
        margin:0;
        outline: none;
        &.ui-active{
            background: #d1c3b6;
            color: #333;
        }
    }    
}
[kui-tab] {
    .kui{
        &-tab-nav{
            font-size: 0;
            li{
                display: inline-block;
                &.kui-active{
                    a{
                        background-color: #fff;
                        color: #000;
                    }
                }
                a {
                    display: block;
                    width: 100px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #ccc;
                    font-size: 16px;
                    color: #666;
                }
            }
        }
        &-tab-contents{
            padding: 30px;
            border: 1px solid #000;
            & > * {
                display: none;
                &.kui-active{
                    display: block;
                }
            }
        }
    }
}
.custom-style{
    a{
        text-decoration: none;
    }
    /* Sticky Custom Style*/
    [data-modules-sticky] .sticky-inner{
        display: inline-block;
        background: #333;
        color: #fff;
        position: relative;
        padding: 10px;
        border-radius: 10px;
    }
    [data-modules-sticky].fixed{
        position: fixed;
    }
    #break{
        border:1px solid #aaa;
        border-radius: 4px;
        position: relative;
    }
    #break5{
        position: absolute;
        top: 800px;
        left: 0;
        right: 0;
        border-top: 1px solid red;
    }


    /* Dropdown */
    .ui-dropdown{
		display: inline-block;
		border:1px solid #ccc;
		padding: 10px;
        color: #333;
        text-align: left;
        .dropdown-menu{
            right: 0;
            border:1px solid #ccc;
            padding: 10px;
            a{
                display: block;
                padding: 5px 0;
            }
        }
        a.readonly, a.disabled {
            cursor: default;
            color: #ccc;
            &:hover{
                text-decoration: none;
            }
        }
    }
    





    /* cascading grid */
    [data-modules-cascadingGrid]{
    
    }
    [data-items]{
        padding: 20px;
        background: #b2cef5;
        color: #333;
    }


    /* Collapse */
    [data-modules-collapse]{
        border:1px solid #999;
        display: block;
        width: 600px;
        padding: 10px 20px;
        position: relative;
        font-size: 16px;
        color: #333;
        &:after{
            content: '';
            width: 10px;
            height: 10px;
            border-right: 2px solid #333;
            border-bottom: 2px solid #333;
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -80%) rotate(45deg);
        }
        &.selected{
            &:after{
                transform: translate(0, -30%) rotate(-135deg);
            }  
        }
    }


    .accordion-panel{
        border: 1px solid #999;
        border-top: 0 none;
        width: 600px;
        margin-top: -1px;
        &.collapsani{
            position: relative;
            transition: height .3s;
            height: 0;
            overflow: hidden;
        }
        .inset{
            padding: 10px 20px;
            min-height: 100px;
        }
    }
    .acc-parent{
        border-top: 1px solid #999;
        width: 600px;
        [data-modules-collapse]{
            border-top: 0 none;
        }
    }


    /* custom toggle */
    [data-modules-customtoggle]{
        display: inline-block;
        padding: 10px 20px;
        background: #333;
        border: 0 none;
        color: #fff;
        border:1px solid transparent;
        &.ui-active{
            color: #333;
            background: #fff;
            border:1px solid #999;
        }
    }
    .parent-wrap {
        // .toggle-body{
        //     display: block !important;
        //     x-height: 0;
        //     overflow: hidden;
        // }
        // &.ui-active .toggle-body{
        //     max-height: 10000px;
        // }
    }








    /* tab */
    .tab-content > .tab-pane.ui-active{
        display: block;
    }
    .tab-content > .tab-pane {
        display: none;
    }
    .ui-tab{
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        font-size: 0;
        [role="presentation"]{
            display: inline-flex;
            font-size: 16px;
            border-top: 1px solid #333;
            border-right: 1px solid #333;
            a{
                display: block;
                padding: 5px 20px;
                color: #999;
                background: #e6e6e6;
            }
            &.ui-active{
                a{
                    text-decoration: underline;
                    font-weight: 700;
                    color: #333;
                    background: #fff;
                }
            }
        }
    }
    .tab-content{
        border:1px solid #333;
        .tab-pane{
            padding: 20px;
            min-height: 300px;
        }
    }









    /* scroll tab */
    .scroll-tab{
        margin: 0 40px;
        width: 473px !important;
        .tab-control{
            display: block;
            position: relative;
            width: 50px;
            height: 35px;
            position: absolute;
            top: 0;
            background: transparent;
            overflow: hidden;
            border: 0 none;
            outline: none;
            &.prev-tab{
                left: -50px;
            }
            &.next-tab{
                right: -50px;
            }
        }
    }




    /* selectbox */
    .selectwrap{
        margin-top: 20px;
    }
    .custom-selectbox{
        width: 500px;
        .ui-label{
            a {
                display:block;
                border:1px solid #333;
                line-height:43px;
                height: 43px;
                padding: 0 0 0 20px;
                position: relative;
                color: #333;
                font-weight: 700;
                &:after{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    transform: rotate(135deg);
                    border-top: 1px solid #000;
                    border-right: 1px solid #000;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    margin-top: -10px;
                }
            }
        }
        &.ui-active{
            .ui-label{
                a {
                    &:after{
                        transform: rotate(-45deg);
                        margin-top: -4px;
                    }
                }
            }
        }
        &.ui-bottom{
            .ui-selectbox{
                top: auto;
                bottom: 100%;
                border-top: 1px solid #000;
                border-bottom: 0 none;
            }
        }
        .ui-selectbox {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 99;
            background: #fff;
            border:1px solid #000;
            border-top: 0 none;
            a {
                display: block;
                height: 43px;
                line-height: 43px;
                padding-left: 20px;
            }
        }
        &.disabled, &.readonly{
            opacity: .5;
            a{
                cursor: default;
                font-weight: 400;
            }
        }
    }






    /* modal */
    .ui-modal{
        .ui-modal-dialog{
            border-radius: 10px;
            padding: 20px;
            &.custom-msg{
                width: 300px;
                height: auto;
                .modal-body{
                    text-align: center;
                    padding: 20px 0;
                }
                .modal-footer{
                    text-align: center;
                    button{
                        background: #333;
                        border:0 none;
                        padding: 10px;
                        min-width: 60px;
                        color: #fff;
                        border-radius: 10px;
                        ~ button{
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .close{
            position: absolute;
            top: 10px;
            right: 10px;
            background: transparent;
            width: 40px;
            height: 40px;
            border:0 none;
            text-indent: -9999em;
            @include cssIcon(delete){
                width: 100%;
                height:1px;
                background: #333;    
            }
        }
    }



    /* scrollspy */
    .ui-scrollspy{
        .fixed {
            .inner{
                left: 20px;
                right: 20px;
            }
        }
        .ui-spynav{
            position: relative;
            background: #fff;
            &:after{
                content:'';
                display:block;
                overflow:hidden;
                width:100%;
                height:1px;
                background: #333;
                position: absolute;
                bottom: -1px;
                position: absolute;
            }
            li{
                a{
                    color: #333;
                    background: #f7f7f7;
                    display: block;
                    padding: 20px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                }
                &.ui-active{
                    a {
                        background: #333;
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            } 
            
        }
        .pages{
            line-height: 800px;
            font-size: 200px;
            text-align: center;
        }
    }
}





















// Name:            Animation
// Description:     Utilities for keyframe animations
//
// Component:       `mui-animation-*`
//
// Modifiers:       `mui-animation-fade`
//                  `mui-animation-scale-up`
//                  `mui-animation-scale-down`
//                  `mui-animation-slide-top-*`
//                  `mui-animation-slide-bottom-*`
//                  `mui-animation-slide-left-*`
//                  `mui-animation-slide-right-*`
//                  `mui-animation-kenburns`
//                  `mui-animation-shake`
//                  `mui-animation-stroke`
//                  `mui-animation-reverse`
//                  `mui-animation-fast`
//
// Sub-objects:     `mui-animation-toggle`
//
// States:          `mui-active`
//
// ========================================================================


// Variables
// ========================================================================

$animation-duration:                             0.5s !default;
$animation-fade-duration:                        0.8s !default;
$animation-stroke-duration:                      2s !default;
$animation-kenburns-duration:                    15s !default;
$animation-fast-duration:                        0.1s !default;

$animation-slide-small-translate:                10px !default;
$animation-slide-medium-translate:               50px !default;


/* ========================================================================
   Component: Animation
 ========================================================================== */

[class*='mui-animation-'] { animation: $animation-duration ease-out both; }


/* Animations
 ========================================================================== */

/*
 * Fade
 */

.mui-animation-fade {
    animation-name: mui-fade;
    animation-duration: $animation-fade-duration;
    animation-timing-function: linear;
}

/*
 * Scale
 */

.mui-animation-scale-up { animation-name: mui-fade, mui-scale-up; }
.mui-animation-scale-down { animation-name: mui-fade, mui-scale-down; }

/*
 * Slide
 */

.mui-animation-slide-top { animation-name: mui-fade, mui-slide-top; }
.mui-animation-slide-bottom { animation-name: mui-fade, mui-slide-bottom; }
.mui-animation-slide-left { animation-name: mui-fade, mui-slide-left; }
.mui-animation-slide-right { animation-name: mui-fade, mui-slide-right; }

/*
 * Slide Small
 */

.mui-animation-slide-top-small { animation-name: mui-fade, mui-slide-top-small; }
.mui-animation-slide-bottom-small { animation-name: mui-fade, mui-slide-bottom-small; }
.mui-animation-slide-left-small { animation-name: mui-fade, mui-slide-left-small; }
.mui-animation-slide-right-small { animation-name: mui-fade, mui-slide-right-small; }

/*
 * Slide Medium
 */

.mui-animation-slide-top-medium { animation-name: mui-fade, mui-slide-top-medium; }
.mui-animation-slide-bottom-medium { animation-name: mui-fade, mui-slide-bottom-medium; }
.mui-animation-slide-left-medium { animation-name: mui-fade, mui-slide-left-medium; }
.mui-animation-slide-right-medium { animation-name: mui-fade, mui-slide-right-medium; }

/*
 * Kenburns
 */

.mui-animation-kenburns {
    animation-name: mui-kenburns;
    animation-duration: $animation-kenburns-duration;
}

/*
 * Shake
 */

.mui-animation-shake { animation-name: mui-shake; }

/*
 * SVG Stroke
 * The `--mui-animation-stroke` custom property contains the longest path length.
 * Set it manually or use `mui-svg="stroke-animation: true"` to set it automatically.
 * All strokes are animated by the same pace and doesn't end simultaneously.
 * To end simultaneously, `pathLength="1"` could be used, but it's not working in Safari yet.
 */

.mui-animation-stroke {
    animation-name: mui-stroke;
    animation-duration: $animation-stroke-duration;
    stroke-dasharray: var(--mui-animation-stroke);
}


/* Direction modifier
 ========================================================================== */

.mui-animation-reverse {
    animation-direction: reverse;
    animation-timing-function: ease-in;
}


/* Duration modifier
 ========================================================================== */

.mui-animation-fast { animation-duration: $animation-fast-duration; }


/* Toggle animation based on the State of the Parent Element
 ========================================================================== */

.mui-animation-toggle:not(:hover):not(:focus) [class*='mui-animation-'] { animation-name: none; }


/* Keyframes used by animation classes
 ========================================================================== */

/*
 * Fade
 */

@keyframes mui-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
 * Scale
 */

@keyframes mui-scale-up {
    0% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

@keyframes mui-scale-down {
    0% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/*
 * Slide
 */

@keyframes mui-slide-top {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes mui-slide-bottom {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

@keyframes mui-slide-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes mui-slide-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

/*
 * Slide Small
 */

@keyframes mui-slide-top-small {
    0% { transform: translateY(-$animation-slide-small-translate); }
    100% { transform: translateY(0); }
}

@keyframes mui-slide-bottom-small {
    0% { transform: translateY($animation-slide-small-translate); }
    100% { transform: translateY(0); }
}

@keyframes mui-slide-left-small {
    0% { transform: translateX(-$animation-slide-small-translate); }
    100% { transform: translateX(0); }
}

@keyframes mui-slide-right-small {
    0% { transform: translateX($animation-slide-small-translate); }
    100% { transform: translateX(0); }
}

/*
 * Slide Medium
 */

@keyframes mui-slide-top-medium {
    0% { transform: translateY(-$animation-slide-medium-translate); }
    100% { transform: translateY(0); }
}

@keyframes mui-slide-bottom-medium {
    0% { transform: translateY($animation-slide-medium-translate); }
    100% { transform: translateY(0); }
}

@keyframes mui-slide-left-medium {
    0% { transform: translateX(-$animation-slide-medium-translate); }
    100% { transform: translateX(0); }
}

@keyframes mui-slide-right-medium {
    0% { transform: translateX($animation-slide-medium-translate); }
    100% { transform: translateX(0); }
}

/*
 * Kenburns
 */

@keyframes mui-kenburns {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

/*
 * Shake
 */

@keyframes mui-shake {
    0%, 100% { transform: translateX(0); }
    10% { transform: translateX(-9px); }
    20% { transform: translateX(8px); }
    30% { transform: translateX(-7px); }
    40% { transform: translateX(6px); }
    50% { transform: translateX(-5px); }
    60% { transform: translateX(4px); }
    70% { transform: translateX(-3px); }
    80% { transform: translateX(2px); }
    90% { transform: translateX(-1px); }
}

/*
 * Stroke
 */

 @keyframes mui-stroke {
    0% { stroke-dashoffset: var(--mui-animation-stroke); }
    100% { stroke-dashoffset: 0; }
}


// Hooks
// ========================================================================

@if(mixin-exists(hook-animation-misc)) {@include hook-animation-misc();}

// @mixin hook-animation-misc(){}
