caption {
  font-size: 0;
  width: 0;
  height: 0;
}
table, th, td{
  border-collapse: collapse;
  // border: 1px solid #000;
}
// thead th{
//   background: #f00;
//   color: #fff;
// }
// tbody th{
//   background: #000;
//   color: #fff;
// }
