
mixin icon(params={})
  - const { elememt = 'span', size, labelText, isIcon, ...rest } = Object.assign({}, params)
  - const prefix = 'mui'
  #{elememt}.mui-icon(
    class=`${prefix}-size-${size}`
  )
    span
      | dsfsdfsdfsd

