.mui_radio_group{
  .mui_radio{
    display: inline-block;
    & ~ .mui_radio{
      margin-left: 20px;
    }
  }
}
.mui_checkbox_group{
  .mui_checkbox{
    display: inline-block;
    & ~ .mui_checkbox{
      margin-left: 20px;
    }
  }
}