
mixin step(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { element="li", className, step, text, ...rest } = Object.assign({}, params)
  - const steps = [1, 2, 3, 4, 5];
  - const st = steps.length;
  - console.log(st)

  //- ul.step
  //-   each index in step
  //-     li= 'step' + index


  ul.step
    - for(a=0; a<st; a++)
      li= count