.step {
    display: flex;
    justify-content:space-between;
    align-items: center;
    li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 60px;
        height: 60px;
        background: #eee;
        border-radius: 50%;
        color: red;
    }
}