
mixin step(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { element="span", className, steps, text, ...rest } = Object.assign({}, params)
  - const dataType = Array.isArray(steps);

    
  ul.step
<<<<<<< HEAD
    //- each item in steps
    //- li (
    //-   text= text
    //- )
=======
    each item in steps
    li(
      span= text
    )
>>>>>>> 6cde23f68c84d0747d05fcbd71aaa32e0cb03c6a
