

doctype html
html(lang="ko")
  head
    title 3322423
    link(
      rel="stylesheet"
      href="/docs/css/index.css"
    )
  body
    #wrap
      include ./docs/layout/header.pug
      #contents 
        #sideNav.side_nav 사이드
          


        .contents 콘텐츠

      //- include ./docs/layout/footer.pug






    script(
      type="text/javascript"
      src="/docs/js/index.js"
    )

    