

doctype html
html(lang="ko")
  head
    title 3322423
    link(
      rel="stylesheet"
      href="/docs/css/index.css"
    )
  body
    #wrap
      include ./docs/layout/header.pug
      #contents 
        | 3222

      include ./docs/layout/footer.pug

    